:root {
  --primary-color: #004aad;
  --secondary-color: #004aad;
  --text-color: #222;
  --background-color: #f5f7fa;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
header {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
}
nav {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 10px;
  position: sticky; 
  top: 0;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 700;
}
nav a:hover {
  text-decoration: underline;
}
.section-box {
  
  margin: 30px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 10px;
}
.section-box p {
  margin: 10px 0;
  padding: 5px;
}
#skills {
  border-color: var(--primary-color);
}
table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}
th, td {
  border: 1px solid var(--primary-color);
  padding: 10px;
  text-align: center;
}
th {
  background-color: var(--primary-color);
  color: white;
}
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #00347a;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
}
#back-to-top:hover {
  background-color: #00347a;
}
hr {
  border: 0;
  height: 2px;
  background-color: var(--secondary-color);
  margin: 40px 0;
}
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 15px;
  position: relative;
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.one {
  text-align: center;
}

#contact label {
    display: block;
    margin-top: 10px;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.three {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 20px;
  background-color: white;
}
